*{
  margin: 0;
  padding: 0;
}

.navi{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  background-color: lightsalmon;
}

.navi h3{
  color: gray;
  margin: 20px;
  position: relative;
  left: 10%;
}

.navi ul{
  display: flex;
  list-style-type: none;
}

.naviname li{
  position: relative;
  margin: 20px;
  right: 20%;
  font-weight: bold;
}

.naviname a{
  text-decoration: none;
}

.navigation{
  position: sticky;
  top: 0%;
  z-index: 999;
}
